<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diabetique"
        tools:targetApi="31">
        <activity
            android:name=".pat_fragment.ChatActivity2"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name="doct_fragment.item_Patient"
            android:exported="false" />
        <activity
            android:name=".Drawer2"
            android:exported="true" />
        <activity
            android:name=".Inscr_Doc"
            android:exported="false" />
        <activity
            android:name=".Drawer"
            android:exported="true" />
        <activity
            android:name=".Allergie"
            android:exported="false" />
        <activity
            android:name=".Diabete"
            android:exported="false" />
        <activity
            android:name=".Information"
            android:exported="true" />
        <activity
            android:name=".poid_pat"
            android:exported="true" />
        <activity
            android:name=".physqiue"
            android:exported="false" />
        <activity
            android:name=".gender_pat"
            android:exported="false" />
        <activity
            android:name=".age_pat"
            android:exported="false" />
        <activity
            android:name=".Pat_Auth"
            android:exported="false" />
        <activity
            android:name=".Doctor_Auth"
            android:exported="true" />
        <activity
            android:name=".EspacesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>